@charset "UTF-8";
/* CSS Document */

body {
margin: 0;
background: url(img/bg.jpg) repeat;
}

#container {
width: 823px;
height: auto;
min-height: 768px;
text-align: left; /*zrušenie vycentrovania textu*/
margin: 0 auto; /*vycentrovanie v ostatných prehliadačoch*/
}

#menu {

padding: 0;
list-style: none;
width: 823px;
height: 59px;
text-align: left; /*zrušenie vycentrovania textu*/
margin: 0 auto; /*vycentrovanie v ostatných prehliadačoch*/
background: url(img/menu.jpg) no-repeat;
}

#menu li {
float: left;

}

#menu a {
display: block;
padding-top: 0.7em;
padding-left: 3.5em;
line-height: 2.1em;

text-decoration: none;
font: bold italic medium Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
}

#menu a:hover {
color: #eef8d0;

}

.text .zoznam li {
list-style-image: url(img/zoznam.png);
}

#content {
text-align: left; /*zrušenie vycentrovania textu*/
margin: 0 auto; /*vycentrovanie v ostatných prehliadačoch*/
width: 823px;
background: url(img/text.jpg) repeat-y;
}

.text .typ_partnera {
padding-left: 1em;
font: italic x-small Verdana, Arial, Helvetica, sans-serif;
color: #f4c62d;
}

.first_button {
padding-left: 4em;
}

.text {
margin: 0 auto;
padding-left: 1.2em;
padding-right: 1em;
text-align: justify; 
font: small Verdana, Arial, Helvetica, sans-serif;
width: 90%;
color: #333333;
}

.text a {
font: italic small Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
color: #0058a4;
}

.text a:hover {
text-decoration: underline;
}


.text .pravy {
float: right;
width: 750px;


}

.text .pravy a {
font: italic small Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
color: #0058a4;
}

.text .pravy a:hover {
text-decoration: underline;
}

.text #mapa_left {
float: left;
width: 300px;
}

.text #adresa_right {
float: right;
width: 300px;
}

.clear {
clear: both;
}

#footer {
width: 823px;
height: 133px;
background: url(img/footer.jpg) no-repeat;
text-align: left; /*zrušenie vycentrovania textu*/
margin: 0 auto; /*vycentrovanie v ostatných prehliadačoch*/
font: x-small Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
}

#footer .text_f {
padding: 2em 2.5em;
}

#footer a {
color: #ffffff;
text-decoration: none;
}

#footer a:hover {
color: #ffffff;
text-decoration: underline;
}

/* Metoda Phark nahradzania textu prehliadnym obrazkom */

h1 {
padding: 0;
text-indent: -5000px;
background: url(img/header.jpg) no-repeat;
text-align: left; /*zrušenie vycentrovania textu*/
margin: 0 auto; /*vycentrovanie v ostatných prehliadačoch*/

width: 823px;
height: 176px;
}

h1 a {
width: 823px;
height: 176px;
display: block;
}


/* Nadpis clanku */

h3 {
margin: 0;
padding: 0.3em 0.3em 0.3em 0.3em;
font: bold medium Verdana, Arial, Helvetica, sans-serif;
color: #b3d54d;
}

/* Nadpis nad textom */

h4 {
margin: 0;
padding: 0 1em 0.3em;
background: url(img/nadpis_bg.png) no-repeat left bottom;
font: bold medium Verdana, Arial, Helvetica, sans-serif;
color: #b3d54d;
}

/* formular */

fieldset {
margin: 1em 0;
padding: 1em;
border: 1px solid #ccc;
background: #f8f8f8;
}

legend {
font-weight: bold;
color: #000000;
}

label {
display: block;
}

.contacts {
width: 300px;
}

.email {
display: none;
}

.required {
font-size: 0.75em;
color: #760000;
}

input.radio {
float: left;
margin-right: 1em;
}

input:focus, textarea:focus {
background: #ffc;
}

input[type="text"], textarea {
border-top: 2px solid #999;
border-left: 2px solid #999;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
}

#specification div {
width: 8em;
float: left;
}

#specification h4 {
font: bold small Verdana, Arial, Helvetica, sans-serif;
}

#specification label {
width: 3em;
float: none;
display: inline;
font: small Verdana, Arial, Helvetica, sans-serif;
}

#specification p {
margin: 0.3em 0;
}

textarea {
width: 400px;
height: 200px;
}

/* hlasenia po odoslani kalkulacie */

.error
{
	color: #FF0000;
	background-color: #F9E1E9;
	padding: 20px;
	border: 1px #FF0000 solid;
	width: 300px;
}

.ok
{
	color: #006600;
	background-color: #E2FDDB;
	padding: 20px;
	border: 1px #006600 solid;
	width: 300px;
}

/* buttony na lavo */

a .alt { display: none; }

a#button1 {
    display: block;
    width: 100px;
    height: 87px;
    background-image: url(loga/logo_pegperego_cb.png);
    margin: 0 auto;
}
a#button1:hover {
    background-image: url(loga/logo_pegperego.png);
}

a#button2 {
    display: block;
    width: 100px;
    height: 87px;
    background-image: url(loga/logo_cam_cb.png);
    margin: 0 auto;
}
a#button2:hover {
    background-image: url(loga/logo_cam.png);
}

a#button3 {
    display: block;
    width: 100px;
    height: 87px;
    background-image: url(loga/logo_neonato_cb.png);
    margin: 0 auto;
}
a#button3:hover {
    background-image: url(loga/logo_neonato.png);
}

a#button4 {
    display: block;
    width: 100px;
    height: 87px;
    background-image: url(loga/logo_chicco_cb.png);
    margin: 0 auto;
}
a#button4:hover {
    background-image: url(loga/logo_chicco.png);
}

a#button5 {
    display: block;
    width: 100px;
    height: 87px;
    background-image: url(loga/logo_babypoint_cb.png);
    margin: 0 auto;
}
a#button5:hover {
    background-image: url(loga/logo_babypoint.png);
}

a#button6 {
    display: block;
    width: 100px;
    height: 87px;
    background-image: url(loga/logo_jane_cb.png);
    margin: 0 auto;
}
a#button6:hover {
    background-image: url(loga/logo_jane.png);
}


